:root  > * {
    --md-primary-fg-color: #0b0b0b;
    --md-primary-bg-color: #ffffff;
    --md-secondary-bg-color: #1f1f1f;
    --md-primary-text-color: #ffffff;
    --md-secondary-text-color: #ec2027;
    
    --md-footer-bg-color: #0b0b0b;
}