/* =============================================================================
   LINKS (elements/_links.scss)
   ========================================================================== */

a {
	color: $color-red;
	text-decoration: none;
	border-bottom: .09em solid currentColor;
	transition: border-bottom .2s;
}
